body{
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("home_screen.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}
.trans-bnt{
    width: 100px;
    height: 40px;
    background-color: white;
    border-radius: 12px;
    filter: blur(50px);
    top: 50%;

}

