body{
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("home_screen.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.trans-bnt{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: "Segoe UI", Arial, sans-serif;
    cursor: pointer;
    backdrop-filter: blur(2px);
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); */
}

.trans-bnt:hover{
        backdrop-filter: blur(10px);

}