body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    gap: 5px;
}

:root {
    --wallpaper: url("wallpaper.jpg");
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--wallpaper);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.terminal {
    width: 100px;
    height: 100px;
    background-image: url("terminal.svg.png");
    background-repeat: no-repeat;
    background-size: 50px 40px;
    background-position: center;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    color: #fefcfc;
    /* padding-top: 0px;  */
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5.8);
    border-radius: 5%;
    border: 1px solid transparent;
    line-height: 1;
    margin: 0;
    cursor: pointer;
}

.github {
    width: 100px;
    height: 100px;
    background-image: url("github.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    color: #fefcfc;
    /* padding-top: 0px;  */
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5.8);
    border-radius: 5%;
    border: 1px solid transparent;
    line-height: 1;
    margin: 0;
    cursor: pointer;
}

.linkedin {
    width: 100px;
    height: 100px;
    background-image: url("linkedin.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    color: #fefcfc;
    /* padding-top: 0px;  */
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5.8);
    border-radius: 5%;
    border: 1px solid transparent;
    line-height: 1;
    margin: 0;
    cursor: pointer;
}

.chrome {
    width: 100px;
    height: 100px;
    background-image: url("chrome.svg.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    color: #fefcfc;
    /* padding-top: 0px;  */
    padding-bottom: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5.8);
    border-radius: 5%;
    border: 1px solid transparent;
    line-height: 1;
    margin: 0;
    cursor: pointer;
}

.terminal:hover {
    background-color: rgba(255, 255, 255, 0.222);
}

.github:hover {
    background-color: rgba(255, 255, 255, 0.222);
}

.linkedin:hover {
    background-color: rgba(255, 255, 255, 0.222);
}

.chrome:hover {
    background-color: rgba(255, 255, 255, 0.222);
}


.taskbar {
    width: 100%;
    height: 50px;
    position: fixed;
    flex-direction: row;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.895);
    z-index: 1;
}

.start-btn{
    width: 45px;
    height: 45px;
    left: 42.3%;
    bottom: 0;
    position: fixed;
    background-image: url("start_button.png");
    background-repeat: no-repeat;
    background-size: 27px 27px;
    background-position: center;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    color: #fefcfc;
    /* padding-top: 0px;  */
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5.8);
    border-radius: 5%;
    border: 1px solid transparent;
    line-height: 1;
    margin: 0;
    cursor: pointer;
    z-index: 2;
}

.start-btn:hover {
    background-color: rgba(207, 204, 204, 0.505);
}


.search-bar{
    width: 200px;
    height: 30px;
    left: 45%;
    bottom: 1.1%;
    position: fixed;
    background-image: url("glass.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: left;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    color: #0b0b0b;
    /* padding-top: 0px;  */
    padding-bottom: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.372);
    border-radius: 50px;
    border: 1px solid transparent;
    line-height: 1;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    background-color: #fefcfc;
    padding-left: 30px;
    padding-bottom: 1px;
}
.search-bar:hover {
    background-color: rgba(238, 237, 237, 0.505);
}

.list{
    width: 30%;
    height: 63%;
    top: 30%;
    left: 36%;
    background-color: #dededef8;
    position:fixed;
    border-radius: 8.5px;
    animation: list-in 200ms ease-out both;
    cursor: pointer;

}
.list-hide{
    animation: list-out 200ms ease-out both;
}

.tNd{
    width: 3%;
    height: 63%;
    top: 96%;
    left: 69%;
    position:fixed;
    color: rgb(4, 4, 4);
    font-size: smaller;
    z-index: 3;
    text-align: right;
    font-family: "Segoe UI", sans-serif;
    cursor: pointer;
    border-radius: 8.5px;

}

.tNd:hover{
    background-color: rgba(173, 20, 20, 0.505);
}


@keyframes list-in {
    0% {
    transform: translateY(800px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes list-out {
    0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(800px);
  }
}


