body {
    margin: 0;
    padding: 0;
    background-color: #000;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    gap: 5px;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 10px;
    color:antiquewhite;
}

h1 {
    font-weight: 300;
    /* or use 'normal' for even lighter */
}


